* {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

*:before,
*:after {
    box-sizing: border-box;
}
article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;  
    
}
main {
    /*This is where we could put a content box background*/
    margin-left: none;
    margin-bottom: none;
    background: rgba(0, 0, 0, 0.55);
    position: relative;
    text-align: left;
    margin-top: 0px;
    width:100%;

    }
h1{
    text-align:center;
    font-size: 3em;
    font-family:monospace;
}

nav{
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom:0;
    left: 0;
    justify-content: space-around; 
    width: 20%;   
    z-index:999;
    height:100%;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 100%;
    font-weight: bold;
    line-height: 90px;
    text-align: center;
    padding-left: .5%;
    padding-right:.5%;
}
#icon{
  size:10%;
  margin-left: 10%;
}
.nav_circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom:20%;
}
#logo{
    padding-left: none;
}


nav.page-nav {
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
    color: #800020;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

nav a:visited {
    color: #060050;
}

nav a:active {
    text-decoration: underline;
    cursor: auto;
}

nav a:hover {
    color: #000000;
}
ul, li{
	 list-style-type: none;
	 padding: 0px;
	 font-size: 1em;
}
li a {
  display: block;
  color: #000;
  padding: 0% 0%;
  text-decoration: none;
}
.home-content{
    display:block;
    text-align: center;
    width: 275px;
    height: auto;
    flex-direction:column;
}
#home-box{
    background-color: rgba(0, 0, 0, 0);
    padding-top: 2%;
    height: auto;
}
#logo{
width:75px;
max-height:75px;
}
.button {
    background-color: #8b0709; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    background-color: rgb(8, 0, 80) /* Red */
}
hr{
    width: 99%;
}
footer{
    display: block;    
    position: inherit;
    bottom: 0;
    width:100%;
    padding-bottom: 20px;
    margin-bottom: 0px;
    align-content: center;
}
.wrapper {
    max-width: none;
     margin-left:20%;
    margin-bottom: 5%;
    }
#journal{
    position: relative;
    text-align: center;
    color: white;
}


.journal_entry{
    background-image: url('../../assets/images/notebook.png');
    background-size: 100%;
    max-width: 100%;
    position: absolute;
    top: 30px;
    color:black;
    height: auto;
}
.journal_entry p{
   padding-left: 15%;
}
.link_box a{
color:rgb(133, 16, 16);
}
.link_box a:hover{
color:rgb(8, 0, 80);
}
.link_box{
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2em;
    text-align: center;
}
/*Start Hover CSS*/
/* Make the container relative */
.swap-on-hover {
    position: relative;	
      margin:  0 auto;
      height:100%;
      width: 100%;
      padding-bottom: 100%;
  }
  
  /* Select the image and make it absolute to the container */
  .swap-on-hover img {
    position: absolute;
    top:0;
    left:0;
      overflow: hidden;
      /* Sets the width and height for the images*/
      height:100%;
      width: 100%;
      
  }
  
  /* 
      We set z-index to be higher than the back image, so it's alwyas on the front.
  
  We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
  */
  .swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .5s linear;
    cursor: pointer;
  }
  
  /* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
  .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
  }



/* Start JavaScript Styling */
#string{
    height: 3em;
    width: auto;
}

/********************************
* Small Screen Styles
********************************/
@media (min-width: 40em) {
.home-content{
    width:750px; 
    height: auto;
}
#logo{
	width:auto;
	max-height:100px;
}
.journal_entry p{
    font-size: 1.5em;
}
}
/********************************
* Medium Screen Styles
* 1200px viewport / 18px font = 66.7em
********************************/

@media (min-width: 70em) {
nav{
   /*Put Large screen Nav styles here*/
   width: 10%;
}

main{
   padding-top: 0px;
}
.home-content{
        width: 65em;
        position: relative;
        margin-top: 0;
        margin-left:0;
        justify-content:center;


}
#logo{
	width:auto;
    max-height: 300px;
}
#bookingcalendar{
	width: 100%;
	max-width: 600px; 
	height: 1600px; 
	border: 0; padding: 0; 
	margin: 0;
}
    .wrapper {
        max-width: none;
        margin-left:10%;
        margin-bottom: 5%;
       
    }
.journal_entry p{
    font-size: 1.5em;
}
}
/********************************
* Largest Screen Styles
********************************/
@media (min-width: 100em) {
.home-content{
        width:1400px;
        height: auto; 
}
#logo{
	width:auto;
    max-height: 150px;
}
#bookingcalendar{
	width: 100%;
	max-width: 800px; 
	height: 1200px; 
	border: 0; padding: 0; 
	margin: 0;
}
.journal_entry p{
    font-size: 2em;
 }
 

}

