body {
    margin: 0; /* remove any margin from body */
    padding: 20px; 
    background-image:url("/acme/images/site/background.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;  
    
}
main {
    display: flex;
    flex-flow: column nowrap;
    background: #ffff;
}
h1 {
    font-size: 5em;
    font-family:monospace;
    color:#de2226;
}
}
h1 {
    font-size: 5em;
    font-family:cursive;
}
nav{
    position: fixed;
    top:140px;
    justify-content: space-around; 
    text-align:center;
    background-color: #de2226;
    width: 96%; 
}

nav.page-nav {
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
    color: #ffff
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

nav a:visited {
    color: #0000ee;
}

nav a:active {
    text-decoration: underline;
    cursor: auto;
}

nav a:hover {
    color: #000000;
}
ul, li{
     list-style-type: none;
     display: flex;
     padding: 2px;
     font-size: 1em;
     width: 100%;
    padding-left: .2cm;
}
footer{
        display: flex;    
        position: inherit;
        bottom: 0;
        width:100%;
        margin-bottom: 0px;
    }